
.tracking {
  border: 1px solid black;
  height: 65%;
  width: calc(100% - 10px);
  margin: 5px;
  float:right;
  margin-bottom: 20px;
  overflow: auto;
}
.tracking ol {
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
.tracking ul {
  margin: 5px;
}
.tracking ol li{
  margin-bottom: 5px;
}
.finder {
  border: 1px solid black;
  height: 25%;
  margin: 5px;
  width: calc(100% - 10px);
  float: right;
  overflow: auto;
}
