
  /*   Main   */

    html {
      width: 100%;
      height: 100%;

      background-image: url("../imgs/background.jpg");
      background-repeat: repeat;
      background-size: 100%;
      background-color: rgb(125, 125, 125);
    }

    body {
      color: #aa7f39;
      width: 55%;
      min-width: 800px;
      margin-left: auto;
      margin-top: 120px;
      margin-right: auto;
      overflow: auto;

      font-family: PT Sans, Helvetica, Tahoma;

    }
    p {
      margin: 0;
      padding: 0;
    }
    h1, h2, h3, h4, h5 {
      margin: 0;
      font-family: GT Walsheim;
    }

    h2 {
      text-align: center;
      color: #ffdfaa;
    }
    h3 {
      color: #d4ac6a;
    }
    h4 {
      color: #805715;
    }
    h5 {
      color: rgba(255, 255, 255, 0.8);
    }
    a {
      color: #ffecb3;
      text-decoration: none;
    }
    li{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    header {
      background-image: url("../imgs/leatherCtn.png");
      border: 1px solid #ffecb3;
      width: calc(100% - 10px);
      padding: 5px;
      display: inline-flex;
      justify-content:space-between;
      margin: 20px 0;
    }
    header h1 {
      margin: auto;
    }
    .iconCTN {
      display: inline-flex;
      flex-direction: column-reverse;
    }
    .main{
      width: 100%;
      padding: 0;
      display: inline-flex;
      justify-content:space-between;
      flex-wrap: wrap;
      background-image: url("../imgs/leather.png");
      border: 1px solid #ffecb3;
      background-color: #AA7C39;
    }
    .imgTitle {
      border: 1px solid #ffecb3;
      background-color: #ffecb3;
      color: #805715;
    }
    .imgTitle a{
      color: #805715;
    }
    .imgTitle img{
      vertical-align:middle;
    }
    .green{
      color:green;
    }
    .red {
      color:red;
    }


  /*  Navegation Bar */
    nav {
      width: 100%;;
      padding: 0px;
      border: 1px solid #ffecb3;
      border-bottom: 0px;
      margin-bottom: 5px;
      background-color: #AA7C39;
      background-image: url("../imgs/leather.png");
    }
    nav ul{
      border-bottom: 1px solid #ffecb3;
    }
    nav li {
      display: inline-block;
      border: 1px solid #D4A96A;
      background-color: #553200;
      padding: 5px;
    }
    li span{
      color: #ffecb3;
    }
    .actual{
      background-color: #D4A96A;
      border: 1px solid #553200;
      color: #553200;
    }
    .actual a {
      color: #553200;
    }
    nav li:hover {
      background-color: #D4A96A;
      border: 1px solid #553200;
    }
    /*    Drop down menu*/
    .dropContent{
      display: none;
      position: absolute;
      background-color: #D4A96A;
    }

    .dropContent li{
      display: block;
    }

    .dropBtn:hover .dropContent{
      border: 1px solid  #553200;
    }

  /* Aside */

    aside {
      border: 1px solid #ffecb3;
      width: calc(30% - 30px);
      margin: 5px 5px 5px 10px;
      float:left;
      background-color: #805415;
      align-self: flex-start;
    }
    aside h2 {
      background-color: #D4A96A;
      text-align: center;
      padding: 5px 0;
    }
    aside li {
      border: 1px solid #ffecb3;
      white-space: nowrap;
      overflow: hidden;
    }
    aside li img{
      vertical-align: middle;
    }

    .content{
      border: 1px solid #ffecb3;
      width: 70%;
      height: 500px;
      float: right;
      margin: 5px;
      background-image: url("../imgs/leatherCtn.png");
    }





    .text{
      background-color: #333;
      color: rgb(255,255,255);
      color: rgba(255,255,255,0.5);
    }

    .storeForm {
      width: 100%;
    }

    .store{
      width: 100%;
      display:flex;
      flex-wrap: wrap;
      flex-direction:row;
      justify-content: space-between;
    }
    .product {
      border: 1px solid pink;
      height: 250px;
      width:  22%;
      padding: 5px;
      margin: 5px;
      background-color: white;

      display: flex;
      flex-direction: column;
      font-family: EasonPro,"Times New Roman",serif;
    }

    .submitCart {
      display: flex;
      align-self: center;
      align-content: center;
      justify-content: center;
    }

    .selectedProduct {
      border: 2px solid red;
    }

    .product img {
      width: 100px;
      height: 100px;
      margin: 5px;
      align-self: center;
      border: 1px solid red;
      color: black;
    }


    .price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .price input[type=number]{
      width: 50px;
      height: 15px;
      margin-top: 5px;
    }

    .bill {
      width: 100%;
      display:flex;
      flex-direction:column;
      background-color: white;
      margin: 20px 50px;

    }

    .billRow, .billHead, .billBottom {
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      padding: 0 25px;

    }
    .billButtons{
      width: 100%;
      padding: 15px 35px;
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;

    }
    .billRow {
      color: black;
      margin-bottom: 5px;
    }

    .billHead {
      color:red;
      margin:5px 0;
      border-bottom: 1px solid red;
      font-size: 1.2em;
    }

    .billBottom{
      color:black;
      margin:5px 0;
      border-top: 1px solid black;
      font-size: 1.2em;
    }

    .billCell, .billHead span, .billBottom span{
      width: 30%;
      text-align: center;
    }


    .confirmation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      margin:50px;

      background-color: #333;
      color: rgb(255,255,255);
      color: rgba(255,255,255,0.5);
    }


    .cartButon {
      font: normal 28px/1.6 EasonPro,"Times New Roman",serif;
      color: #FFF;
      font-size: 22px;
      background: linear-gradient(180deg, rgb(182, 20, 16) 0px, rgb(63, 7, 5));
      font-family: EasonProDisplayCaps,Times New Roman,serif;
    }
