
  /*   Main   */

    html {
      width: 100%;
      height: 100%;
    }
    body {
      color: #ffecb3;
      width: 50%;
      min-width: 800px;
      margin-left: auto;
      margin-right: auto;
      overflow: auto;

      background-image: url("../imgs/background.jpg");
      background-repeat: no-repeat;
      background-size: 100%;

      font-family: PT Sans, Helvetica, Tahoma;

    }
    h1, h2, h3, h4, h5 {
      margin: 0px;
      font-family: GT Walsheim;
    }
    h2 {
      color: white;
    }
    a {
      color: #ffecb3;
      text-decoration: none;
    }
    li{
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
    ul {
      padding: 0px;
      margin: 0px;
    }
    .main{
      width: 100%;
      padding: 0px;
      display: inline-flex;
      justify-content:space-between;
      flex-wrap: wrap;
      border: 1px solid black;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .imgTitle {
      border: 1px solid black;
    }
    .imgTitle img{
      vertical-align:middle;
    }
    .green{
      color:green;
    }
    .red {
      color:red;
    }


  /*  Navegation Bar */
    nav {
      width: 100%;;
      padding: 0px;
      border: 1px solid black;
    }
    nav ul{
      border: 1px solid black;
    }
    nav li {
      display: inline-block;;
      border: 1px solid brown;
    }
    /*    Drop down menu*/
    .dropContent{
      display: none;
      background-color: white;
    }

    .dropContent a{
      display: block;
    }

    .dropBtn:hover .dropContent{
      border: 1px solid red;
      display: block;
      position:absolute;
    }

  /* Aside */

    aside {
      border: 1px solid black;
      width: calc(30% - 30px);
      height: 100%;
      margin: 5px 5px 0px 10px;
      float:left;
    }
    aside h2 {
      text-align: center;
    }
    aside li {
      border: 1px solid black;
      white-space: nowrap;
      overflow: hidden;
    }
    aside li a{

    }
    aside li img{
      vertical-align: middle;
    }
    section.content{
      border: 1px solid black;
      width: 70%;
      height: 500px;
      float: right;
      margin: 5px;
    }
