
  /*   Main   */

    html {
      width: 100%;
      height: 100%;

      background-image: url("../imgs/background.jpg");
      background-repeat: repeat;
      background-size: 100%;
      background-color: rgb(125, 125, 125);
    }

    body {
      color: #aa7f39;
      width: 55%;
      min-width: 800px;
      margin-left: auto;
      margin-top: 120px;
      margin-right: auto;
      overflow: auto;

      font-family: PT Sans, Helvetica, Tahoma;

    }
    h1, h2, h3, h4, h5 {
      margin: 0px;
      font-family: GT Walsheim;
    }
    h2 {
      text-align: center;
      color: #ffdfaa;
    }
    h3 {
      color: #d4ac6a;
    }
    h4 {
      color: #805715;
    }
    h5 {
      color: rgba(255, 255, 255, 0.8);
    }
    a {
      color: #ffecb3;
      text-decoration: none;
    }
    li{
      list-style-type: none;
      padding: 0px;
      margin: 0px;
    }
    ul {
      padding: 0px;
      margin: 0px;
    }
    header {
      background-image: url("../imgs/leatherCtn.png");
      border: 1px solid #ffecb3;
      width: calc(100% - 10px);
      padding: 5px;
      display: inline-flex;
      justify-content:space-between;
      margin: 20px 0px;
    }
    header h1 {
      margin: auto;
    }
    .iconCTN {
      display: inline-flex;
      flex-direction: column-reverse;
    }
    .main{
      width: 100%;
      padding: 0px;
      display: inline-flex;
      justify-content:space-between;
      flex-wrap: wrap;
      background-image: url("../imgs/leather.png");
      border: 1px solid #ffecb3;
      background-color: #AA7C39;
    }
    .imgTitle {
      border: 1px solid #ffecb3;
      background-color: #ffecb3;
      color: #805715;
    }
    .imgTitle a{
      color: #805715;
    }
    .imgTitle img{
      vertical-align:middle;
    }
    .green{
      color:green;
    }
    .red {
      color:red;
    }


  /*  Navegation Bar */
    nav {
      width: 100%;;
      padding: 0px;
      border: 1px solid #ffecb3;
      border-bottom: 0px;
      margin-bottom: 5px;
      background-color: #AA7C39;
      background-image: url("../imgs/leather.png");
    }
    nav ul{
      border-bottom: 1px solid #ffecb3;
    }
    nav li {
      display: inline-block;
      border: 1px solid #D4A96A;
      background-color: #553200;
      padding: 5px;
    }
    li span{
      color: #ffecb3;
    }
    .actual{
      background-color: #D4A96A;
      border: 1px solid #553200;
      color: #553200;
    }
    .actual a {
      color: #553200;
    }
    nav li:hover {
      background-color: #D4A96A;
      border: 1px solid #553200;
    }
    /*    Drop down menu*/
    .dropContent{
      display: none;
      background-color: #D4A96A;
    }

    .dropContent a{
      display: block;
    }

    .dropBtn:hover .dropContent{
      border: 1px solid  #553200;
      display: block;
      position:absolute;
    }

  /* Aside */

    aside {
      border: 1px solid #ffecb3;
      width: calc(30% - 30px);
      height: 100%;
      margin: 5px 5px 5px 10px;
      float:left;
      background-color: #805415;
    }
    aside h2 {
      background-color: #D4A96A;
      text-align: center;
      padding: 5px 0px;
    }
    aside li {
      border: 1px solid #ffecb3;
      white-space: nowrap;
      overflow: hidden;
    }
    aside li a{

    }
    aside li img{
      vertical-align: middle;
    }
    .content{
      border: 1px solid #ffecb3;
      width: 70%;
      height: 500px;
      float: right;
      margin: 5px;
      background-image: url("../imgs/leatherCtn.png");
    }



    .text{
      background-color: #333;
      color: rgba(255,255,255,0.5);
    }
