
h3 {
  display: inline;
}
h2 {
  flex-basis: 100%;
}
.head {
  border: 1px solid black;
  margin: 5px;
  width: calc(100% - 10px);
  float:left;
  clear: both;
  color: #D4A96A;
}
.head .name{
  border: 0px;
}
.table {
  border: 1px solid #ffecb3;
  flex: 0 0 calc(100% - 10px);
  margin: 5px;
}
.row{
  border: 1px solid white;
  margin: 5px;
  width: calc(100% - 10px);
  float:left;
  clear: both;
}
.name, .points, .date{
  display:inline;
  text-align: center;
  margin: 5px;
}
.name {
  float:left;
  width: 30%;
  color: #ffecb3;
  border: 1px solid #ffecb3;
}
.points {
  float:left;
  width: 40%;
}
.date {
  float:right;
  width: 20%;
}
