
.categories, .categorie, .teams, .team, .role {
  border: 1px solid black;
  margin: 5px;
}
.member {
  margin: 5px;
}
.main ul {
  flex-basis: 100%;
}
h4{
  border-bottom: 1px solid black;
  padding: 5px;
}
h2 {
  flex-basis: 100%;
}
