<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Gw, playercommunity, api access, gw2 api, guild wars, player, character, achievements, guild">
    <meta name="description" content="Panel with the informnation of every character of the account">
    <meta name="author" content="Martin Rubio">

    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link type="text/css" rel="stylesheet" href="css/characters.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="jQuery/dropdown.js"></script>

    <title>Characters</title>
  </head>

  <body ng-app="characters"  >
    <header>
        <img src="imgs/logo.png">
        <h1>GUILD MANAGER WEB</h1>
        <div class="iconCTN">
          <div class="icons">
            <a href="https://github.com/Xhark-Blues/GuildManagerWeb" target="_blank"><img src="imgs/github.png"></a>
            <a href="https://www.guildwars2.com/es/" target="_blank"><img src="imgs/gw2.png"></a>
          </div>
        </div>
    </header>
    <nav><!-- Control Panels Navigation bar -->
      <ul>
        <li class="actual"><a href="characterPanel.html">Characters</a></li>
        <li><a href="achivementsPanel.html">Achivements</a></li>
        <li class="dropBtn"><a href="#">Guild</a>
          <ul class="dropContent">
            <li><a href="guild/guildMembersPanel.html">Guild1</a></li>
            <li><a href="guild/guildMembersPanel.html">Guild2</a></li>
            <li><a href="guild/guildMembersPanel.html">Guild3</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <section class="main" ng-controller="CharController">
      <aside><!-- List of characters  (D)-->
        <h2 >Characters</h2>
        <ul >
          <li class="menuitem" ng-repeat="char in chars" ng-click="selectChar($index)">
            <img width="40px"  ng-src="imgs/profesions/{{ char.profession | lowercase }}.png" >
            <a id="{{ char.name }}"  href="#char1">{{ char.name }}</a>
          </li>
        </ul>
      </aside>

      <div class="content ng-view"></div>
    </section>


    <script src="angular/services/dao.js"></script>
    <script src="angular/controllers/CharController.js"></script>
    <script src="angular/guildManager.js"></script>

  </body>
</html>
